section.section.grid#about
	h2 о нас
	article.grid
		span.
			Мы разрабатываем сайты под ключ:
		li продумываем концепцию сайта
		li разрабатываем логотип
		li рисуем эксклюзивный дизайн
		li программируем
		li размещаем на собственный хостинг
		li оптимизируем для мобильных устройств
		li техническая поддержка 
		li администрирование сайта
		span.
			Мы создаем надежные сайты с современным дизайном.
		br
		a(href="#price").btn-large.waves-effect.hoverable заказать
	.hrwert
		hr
	.photo.wow.bounceInRight
		img(src="img/youtubeLogoSmall.jpeg", alt="")
	.hrgor
		hr
	a(href="#top" data-target="menu")
		.circlebottom.grid.z-depth-3
			.circleimg
