.costs.grid#price
	h2 цены
	.costsall.grid.card
		h2 сайт 
			br.br
			| визитка
		hr.hr1
		span от 3000
			br
			|	грн		
		hr.hr2
		ol(type='1')
			li Небольшой одностраничный сайт
			li Слайд шоу
			li Карта проезда
			li.action Бесплатный хостниг на год
		a.modal-trigger.btn-large.waves-effect.waves-light.hoverable(href="#modal1") заказать
			
	.costsall.grid.card
		h2 landing 
			br
			| page
		hr.hr1
		span от 4000
			br
			|	грн		
		hr.hr2
		ol(type='1')
			li Одностраничный сайт на несколько прокруток
			li Фотогаллерея
			li Слайд шоу
			li Карта проезда
			li.action Бесплатный хостниг на год
		a.modal-trigger.btn-large.waves-effect.waves-light.hoverable(href="#modal2") заказать
	.costsall.grid.card
		h2 корпоративный 
			br
			| сайт
		hr.hr1
		span от 10000
			br
			|	грн		
		hr.hr2
		ol(type='1')
			li CMS система управления
			li Фото галлерея
			li Возможность добавлять любое количество статей
			li Статистика посещеня
			li Авторизированный вход
			li.action Бесплатный хостниг на год
		a.modal-trigger.btn-large.waves-effect.waves-light.hoverable(href="#modal3") заказать
	.costsall.grid.card
		h2 интернет 
			br
			|магазин
		hr.hr1
		span от 12000
			br
			|	грн		
		hr.hr2
		ol(type='1')
			li Неограниченное количество товаров
			li Подключение систем оплаты
			li Авторизация пользователей
			li Удобная административная панель
			li Статистика работы магазина
			li.action Бесплатный хостинг на год
		a.modal-trigger.btn-large.waves-effect.waves-light.hoverable(href="#modal4") заказать