section.dosite.grid
	h2 сделать сайт - это просто
	.boxcontainer.grid
		.box.grid
			h2 1
			span захотеть сайт
		.box.grid		
			h2 2
			span обратиться к нам
		.box.grid
			h2 3
			span получить сайт
