header.header.grid#top
	a(href="#" data-activates="slide-out").button-collapse.menu
		.menu1
		.menu2
		.menu3
		.menu4
	.phone
		i.material-icons email
		span info@all4site.com.ua
	.email
		i.material-icons phone_iphone
		span 093-606-34-15
	h1 All4Site
	h3 создание сайтов под ключ
	.hr