form#modal1.modal
	input(type='hidden', name='project_name', value='Заказ сайта')
	input(type='hidden', name='admin_email', value='info@all4site.com.ua')
	input(type='hidden', name='form_subject', value='Форма заказа')

	.feedback.grid.modal-content
		h3 сайт визитка
		.input-field
			input.validate(type="text" name="name"  id="name" required)
			label(for="name") ИМЯ
		.input-field
			input.validate(type="text" name="email"  required)
			label(for="email") EMAIL
		textarea(name="Заказ"  readonly) 
			|	Сайт Взитка.
		input(type="submit" value="заказать" ).modal-action.btn-large.waves-effect.waves-light
form#modal2.modal
	input(type='hidden', name='project_name', value='Заказ сайта')
	input(type='hidden', name='admin_email', value='info@all4site.com.ua')
	input(type='hidden', name='form_subject', value='Форма заказа')
	.feedback.grid.modal-content
		h3 landing page
		.input-field
			input(type="text" name="name" id="name" required)
			label(for="name") ИМЯ
		.input-field
			input(type="text" name="email"  required)
			label(for="email") EMAIL
		textarea(name="Заказ" readonly)
			| Landing Page.
		input(type="submit" value="заказать" ).modal-action.btn-large.waves-effect.waves-light
form#modal3.modal
	input(type='hidden', name='project_name', value='Заказ сайта')
	input(type='hidden', name='admin_email', value='info@all4site.com.ua')
	input(type='hidden', name='form_subject', value='Форма заказа')
	.feedback.grid.modal-content
		h3 корпоративный сайт
		.input-field
			input(type="text" name="name" id="name" required)
			label(for="name") ИМЯ
		.input-field
			input(type="text" name="email"  required)
			label(for="email") EMAIL
		textarea(name="Заказ" readonly)
			|	Корпоративный сайт.
		input(type="submit" value="заказать" ).modal-action.btn-large.waves-effect.waves-light
form#modal4.modal
	input(type='hidden', name='project_name', value='Заказ сайта')
	input(type='hidden', name='admin_email', value='info@all4site.com.ua')
	input(type='hidden', name='form_subject', value='Форма заказа')
	.feedback.grid.modal-content
		h3 интернет магазин
		.input-field
			input(type="text" name="name" id="name" required)
			label(for="name") ИМЯ
		.input-field
			input(type="text" name="email"  required)
			label(for="email") EMAIL
		textarea(name="Заказ" readonly)
			| Интернет магзин.
		input(type="submit" value="заказать" ).modal-action.btn-large.waves-effect.waves-light