ul#slide-out.side-nav
	li
		.user-view.grid
			.background
				img(src="img/steps.png", alt="")
			img(src="img/youtubeLogoSmall.jpeg", alt="").circle
			span Создание сайтов подк ключь
			span Администрирование сайтов
	li
		a(href="#top" data-target="menu").waves-effect.waves-light
			span Главная
	li
		a(href="#about" data-target="menu").waves-effect.waves-light
			span О нас
	li
		a(href="#porrfolio" data-target="menu").waves-effect.waves-light
			span Наши работы
	li
		a(href="#price" data-target="menu").waves-effect.waves-light
			span Цены
	li
		a(href="#contact" data-target="menu").waves-effect.waves-light
			span Контакты
	li
		.divider
	.cocial.grid
		a(href="#!").btn-floating.btn-large.waves-effect.waves-light
			i.fa.fa-facebook
		a(href="#!").btn-floating.btn-large.waves-effect.waves-light
			i.fa.fa-youtube
		a(href="#!").btn-floating.btn-large.waves-effect.waves-light
			i.fa.fa-google-plus


