ul#slide-out.side-nav
	.background
		li
			a(href="#top" data-target="menu").waves-effect.hoverable
				span Главная
		li
			a(href="#about" data-target="menu").waves-effect.hoverable
				span О нас
		li
			a(href="#porrfolio" data-target="menu").waves-effect.hoverable
				span Наши работы
		li
			a(href="#price" data-target="menu").waves-effect.hoverable
				span Цены
		li
			a(href="#contact" data-target="menu").waves-effect.hoverable
				span Контакты


