ul#slide-out.side-nav
	li
		.user-view.grid
			.background
				img(src="img/steps.png", alt="")
			img(src="img/youtubeLogoSmall.jpeg", alt="").circle
			span Создание сайтов подк ключ
			span Администрирование сайтов
	li
		a(href="#top" data-target="menu").waves-effect.waves-my
			span Главная
	li
		a(href="#about" data-target="menu").waves-effect.waves-my
			span О нас
	li
		a(href="#porrfolio" data-target="menu").waves-effect.waves-my
			span Наши работы
	li
		a(href="#price" data-target="menu").waves-effect.waves-my
			span Цены
	li
		a(href="#contact" data-target="menu").waves-effect.waves-my
			span Контакты
	li
		.divider
	.cocial.grid
		a(href="https://www.facebook.com/allsorsite.allforsite.5" target="_blank").btn-floating.btn-large.waves-effect.waves-light
			i.fa.fa-facebook
		a(href="https://www.youtube.com/channel/UCDv1CAqSLEI0YbWfOjhQqfQ?view_as=subscriber" target="_blank").btn-floating.btn-large.waves-effect.waves-light
			i.fa.fa-youtube
		a(href="https://plus.google.com/u/3/102129154624473947007" target="_blank").btn-floating.btn-large.waves-effect.waves-light
			i.fa.fa-google-plus


