input[type="hidden"]
	display: none 
#modal1,
#modal2,
#modal3,
#modal4
	.feedback
		width: 100%
		i
			background: #262526
			width: 50%
			justify-self: center
			margin: 5% 0 0
		input[type="submit"]
			background: none
			width: 100%
			height: 100%
			color: #fff

		h3
			text-align: center
			text-transform: uppercase
		textarea
			display: none
